.wrapper
  = render 'shared/side_bar'
  .chat-main
    .main-header
      .main-header__left-box
        %h2(class = "main-header__left-box__current-group" data-groupid = "")
          グループ名
      = link_to '#' do
        .main-header__edit-btn
          Edit
    .messages
      = render @messages
      -# .message
      -#   .message__upper-info
      -#     %p.message__upper-info__talker
      -#       発信者
      -#     %p.message__upper-info__date
      -#       発信日
      -#   %p.message__text
      -#     テキスト
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'fauthenticity_token', placeholder: 'type a message'
        .input-box
          = f.label :image, class: 'input-box__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'submit-btn'